.books-tile {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tile-title {
    align-self: flex-start;
}

.tile-list {
    display: flex;
    gap: 5px;
    overflow: scroll;
}

.book-box {
    width: 120px;
    height: 150px;
    background-color: green;
    flex-shrink: 0;
}